# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
backend/venv/
backend/env/
backend/.venv/

# Environment variables
.env

# VS Code
.vscode/

# Node
node_modules/

# Next build
.next/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
